@import "custom";

.dropdown-toggle::after {
  content: none;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
}

.custom-placeholder-colour::placeholder {
  color: #8887fa;
}

.bg-tertiary {
  background-color: $tertiary;
}

.border-tertiary {
  border-color: $tertiary !important;
}

.input-group input {
  color: white !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body {
  background-color: #f8f8fb;
}

.sidebar .active {
  background-color: #00d0e0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.active .svg-inline--fa {
  color: #ffffff;
}

.sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}
